pre {
    background-color: black;
    overflow: auto;
    padding: 10px;
    margin: 10px;
    height: 600px;
    width: 1000px;
    color: white;
    font-size: 24px;
}

h1 {
    color: red;
    font-size: 32px;
    padding: 5px 5px 5px 5px;
}

/*
 * Input
 */
 
button, input {
    background-color: black;
    color: white;
    font-size: 24px;
    border-color: red;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    width: 600px;
}

/*
 * Neede for interpretation of style.js
 */


/*
 * Color
 */ 

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

/*
 * Font font weight 
 */

.bold {
    font-weight: 900;
}
